@using ClothesBox.Web.Areas.Admin.Views.Shared.Components.SideBarUserArea
@model SideBarUserAreaViewModel

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image logo-container">
        <img src="@Url.Content("~/assets/media/logos/logo-1-dark.svg")" style="width: 100%" class="img-circle elevation-2" alt="User Image">
    </div>
    @*<div class="info">
        <a class="d-block" href="javascript:void(0);">@Html.Raw(Model.GetShownLoginName())</a>
    </div>*@
</div>
